<a href="https://colab.research.google.com/github/sonahyoung/class2022Spring/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

pandas가 뭔지 구글링!

-> python에서 data analysis하는 library

-> excel 파일이라고 생각하면 됨

-> 보통 데이터를 excel로 정리(excel은 기본적으로 행렬임)

-> excel 파일을 불러오는 방법, manipulate하는 방법 등을 해주는게 pandas

### Importing libraries

In [2]:
import pandas as pd  #import를 하는 것은 pandas라는 package가 이미 컴퓨터에 깔려있다는 걸 가정함

install

import (install되었음을 가정)

built-in

### Loading csv file

In [4]:
df = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv", sep=",")
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

pandans안에 들어있는 function을 pd.read_csv라고 씀(read_csv가 function임)

csv 파일 이름을 넣으면 read해오는거임.

저 웹사이트로 들어가면, 다운로드를 받겠냐고 물어봄. save된걸 불러오면 comma로 분리되어 있음. 이거를 excel 파일로 부를 수도 있음.

위의 코드에서 실행을 하면 저 csv 파일을 불러서 read하고 csv 파일에 있는 information을 read해서 df라는 variable로 받은거임.

df = data frame
(엑셀형식으로 된 이 data를 data frame이라고 함)

In [6]:
print(df.size); print(df.ndim); print(df.shape) #ndim - 몇차원인지(행, 열 2차원= 17000 * 9라고 적혀있음)
#shape를 보자고 하면 17000 * 9 나옴
#size는 17000 * 9한 값이 나옴,

153000
2
(17000, 9)

In [8]:
df.describe()  #통계적인거 뽑아줌  #count: 17000개니까 그렇게 적혀있는 거임
#25, 50, 75%는 minimum에서 25%, 50%, 75%를 보여줌.

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

지금 위에까지 한건 파일로 저장되어 있지 않음. 그냥 data frame이 메모리로 잡혀있는 거임.

### Saving to CSV

In [10]:
df.to_csv('california_housing_train.csv') #df.to_save라는 뜻, 왼쪽 메뉴에 파일 누르면 만들어져 있는 걸 볼 수 있음

csv <-> data frame (pandas가 이런걸 해주고 불러오고 나서 각각의 내용을 어떻게 access하고 column, row manipulate/access 자유롭게 해줌)

위에는 csv 파일의 형태가 data frame이라는 변수의 형태로 read해온거고, 다시 이 data frame이라는 변수가 csv 파일의 형태로 바꿀 수 있음.

excel에서 저장하는 xls는 excel이라는 application에서만 쓰는 파일 네임임. 그래서 csv라는 형태가 general하고 simple함.

- csv는 딱 정보만 저장하는 general한 거임.

(xls형태로 저장하는 이유? 복잡한 형태로 만들어져서. 함수 이런거는 csv에서 저장되지 않음)

### Constructing a DataFrame using dict

In [11]:
# Some input data - a small sample of the iris dataset
data = {'sepal_length': [6.9, 6.9, 4.8, 5.4, 4.6],
        'sepal_width': [3.2, 3.1, 3.4, 3.0, 3.6],
        'petal_length': [5.7, 5.1, 1.9, 4.5, 1.0],
        'petal_width': [2.3, 2.3, 0.2, 1.5, 0.2],
        'species': ['virginica', 'virginica', 'setosa', 'versicolor', 'setosa']}

df = pd.DataFrame(data)  #data를 dict의 형태로 만들어주고 그거를 입력값에 넣어주면 pandas안에 있는 data frame으로 만들어줌. 
df

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

위의 코드에서, dict 안에 5개가 들어가 있음.
{ }안에

'sepal_lenth' 이런게 key가 되고 [ ]가 value가 됨 (key는 colum의 이름임)

개수가 맞아야함. key 부분에는 1개씩 들어가고 그리고 value 쪽에는 list의 형태로 들어가야함(5개)

### Constructing a DataFrame using pd.Series

data fame을 만드는 또 다른 방법
1. general한 csv 파일에서 pandas의 function, read_csv로 data frame 만듬 (제일 많이 쓰는 방법)
-> excel 파일의 형태로 주고받고 저장하는 게 더 합리적임.
2. dict 파일을 통으로 만들어서 data frame을 만듬
3. series를 써서 column의 내용 부분을 따로 만들고 결국은 data frame을 dict를 이용해서 만듬

In [12]:
sepal_length = pd.Series([6.9, 6.9, 4.8, 5.4, 4.6])  #한 column에 해당되는 내용을 series라는 함수를 이용해서 따로 만듬.
sepal_width = pd.Series([3.2, 3.1, 3.4, 3.0, 3.6])
petal_length = pd.Series([5.7, 5.1, 1.9, 4.5, 1.0])
petal_width = pd.Series([2.3, 2.3, 0.2, 1.5, 0.2])
species = pd.Series(['virginica', 'virginica', 'setosa', 'versicolor', 'setosa'])

df = pd.DataFrame({'sepal_length': sepal_length, 'sepal_width': sepal_width, 'petal_length': petal_length, 'petal_width': petal_width, 'SPECIES': species})
#dict를 여기 위에서 만들어주는 거임.
df

   sepal_length  sepal_width  petal_length  petal_width     SPECIES
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

### Changing column names

In [14]:
df.columns  #위의 column 정보만 나옴.

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'SPECIES'],
      dtype='object')

In [15]:
# Change the columns (species 부분을 대문자에서 소문자로 바꾸고 싶다)
df.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
df

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

### Accessing columns

In [17]:
# Access one column 
df.loc[:, 'sepal_length']  #loc는 location, comma 왼쪽의 부분이 row(행)이고 오른쪽 부분이 column(열)

0    6.9
1    6.9
2    4.8
3    5.4
4    4.6
Name: sepal_length, dtype: float64

In [18]:
# Access one column (short-hand)
df['sepal_length']

0    6.9
1    6.9
2    4.8
3    5.4
4    4.6
Name: sepal_length, dtype: float64

In [19]:
# Access one column (shortest-hand)
df.sepal_length

0    6.9
1    6.9
2    4.8
3    5.4
4    4.6
Name: sepal_length, dtype: float64

In [20]:
# Access two columns
df.loc[:, ['sepal_length', 'sepal_width']]

   sepal_length  sepal_width
0           6.9          3.2
1           6.9          3.1
2           4.8          3.4
3           5.4          3.0
4           4.6          3.6

In [21]:
# Access two columns (short-hand)
df[['sepal_length', 'sepal_width']]

   sepal_length  sepal_width
0           6.9          3.2
1           6.9          3.1
2           4.8          3.4
3           5.4          3.0
4           4.6          3.6

### Accessing rows

In [25]:
# Access one row 
df.loc[3, :]  #결과값이 세로로 되어있지만, column이 아니고 row임

sepal_length           5.4
sepal_width            3.0
petal_length           4.5
petal_width            1.5
species         versicolor
Name: 3, dtype: object

In [24]:
# Access two rows
df.loc[[3, 0], :]

   sepal_length  sepal_width  petal_length  petal_width     species
3           5.4          3.0           4.5          1.5  versicolor
0           6.9          3.2           5.7          2.3   virginica

In [26]:
# Access a range of rows
df.loc[2:5, :] #2:5는 2에서 5를 빼고까지 불러와라

   sepal_length  sepal_width  petal_length  petal_width     species
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

In [27]:
# Filter keeping only rows with `sepal_length` > 5
df[df.sepal_length > 5]

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
3           5.4          3.0           4.5          1.5  versicolor

### Accessing a cell

In [28]:
df.loc[:, 'sepal_length'][4] #모든 행에서 'sepal_length'에 해당하는 것 중에서 거기서 4번째꺼.

4.6

In [29]:
df['sepal_length'][4]

4.6

In [30]:
df.sepal_length[4]

4.6

column access에서 봤듯이 다양하게 줄여서 쓸 수 있음.

### Adding/Removing new columns

In [32]:
df['new_column'] = 1  #column access할때 적는 방법임, df['new_column']만 쓰면 에러 메세지 나옴.
df

,sepal_length,sepal_width,petal_length,petal_width,species,new_column
0,6.9,3.2,5.7,2.3,virginica,1
1,6.9,3.1,5.1,2.3,virginica,1
2,4.8,3.4,1.9,0.2,setosa,1
3,5.4,3.0,4.5,1.5,versicolor,1
4,4.6,3.6,1.0,0.2,setosa,1

In [45]:
df['new_column'] = [1, 2, 3, 4, 5]
df

,sepal_length,sepal_width,petal_length,petal_width,species,new_column
0,6.9,3.2,5.7,2.3,virginica,1
1,6.9,3.1,5.1,2.3,virginica,2
2,4.8,3.4,1.9,0.2,setosa,3
3,5.4,3.0,4.5,1.5,versicolor,4
4,4.6,3.6,1.0,0.2,setosa,5

In [46]:
df = df.drop('new_column', axis=1) # axis=1: column  #new_column에 해당하는 것을 drop해라.
#new_column이 row인지 column에 있는 정보인지 모름. axis=1이라고 적고 있으면 column에서 axis=0이라고 적혀 있으면 세로에서 찾고 있을거임
#axis=0이 행 정보이고 axis=1은 열 정보임.
df

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

위의 코드에서, df = 이라고 써줘야 업데이트가 됨.

df.drop만 쓰면 업데이트안됨.

### Adding/Removing new rows

In [48]:
df.loc[5, :] = ''   #:은 all column, 그리고 5는 row 부분에 추가해라. ' '는 string. ' '이걸 써줘야 에러가 안남
df

  sepal_length sepal_width petal_length petal_width     species
0          6.9         3.2          5.7         2.3   virginica
1          6.9         3.1          5.1         2.3   virginica
2          4.8         3.4          1.9         0.2      setosa
3          5.4         3.0          4.5         1.5  versicolor
4          4.6         3.6          1.0         0.2      setosa
5

In [49]:
df = df.drop(5, axis=0) # axis=0: row
df

  sepal_length sepal_width petal_length petal_width     species
0          6.9         3.2          5.7         2.3   virginica
1          6.9         3.1          5.1         2.3   virginica
2          4.8         3.4          1.9         0.2      setosa
3          5.4         3.0          4.5         1.5  versicolor
4          4.6         3.6          1.0         0.2      setosa